.user-img{
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='1'><rect fill='#c8c7cc' x='0' y='0' width='100%' height='0.5'/></svg>");
	background-repeat: no-repeat;
	background-position: 15px 100%;
	position: relative;
	line-height: 1.1;
	padding: 10px;
}
.user-img label{
	margin-left: 0.1%;
}

.user-img img{
	margin-left: 30%;
}

.user-top-a-img{
	width: 110px;
    height:110px;
    display: inline-block;
    text-align: center;
    padding: 0px;
    background-clip: padding-box;
}


.user-top-img{
	border-radius:100px;
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	top:0;
}

