		.dlist {
			padding: 0px;
			margin-top: 1em;
			margin-left: 1em;
			margin-right: 1em;
			background: #fff;
			border: 1px solid #ddd;
			-webkit-border-radius: 3px;
			border-radius: 3px;
		}
		.ditem {
			overflow: hidden;
			list-style-type: none;
			font-size: 1em;
			padding: 10px;
			text-align: center;
			border-bottom: inset 1px #ebebeb;
			vertical-align: middle;
		}
		.ditem:active {
			background: #f4f4f4;
		}
		.ditem:last-child {
			border-bottom: inset 0px #ebebeb;
		}
		.ditem-empty {
			overflow: hidden;
			list-style-type: none;
			font-size: 1em;
			padding: 1em;
			vertical-align: middle;
		}
		