.project-choose{
	position: absolute;
	top:20px;
	right:10px;
	color: #DD524D;
}

.project-img-choose{
	border: 1px #FFB771  solid;
	-webkit-border-radius: 7px;
	padding: 15px;
}

.project-img-border{
	border: 1px #F3F3F3  solid;
	-webkit-border-radius: 7px;
	padding: 15px;
}


.project-img-normal{
	border: 1px #EBEBEB solid;
	-webkit-border-radius: 7px;
	padding: 15px;
}
